#galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

#galeria img{

    padding: 0.5em;
    margin: 10px;
    border: 0.5px solid grey;
}
